* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 3rem;
}

.info {
  display: flex;
  width: 16rem;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 1.1rem;
  padding: 0.7rem 0.7rem;
  box-shadow: 0.1px 0.1px 5px #9898984d;
}

.scan {
  width: 14.6rem;
  border-radius: 0.9rem;
  /* padding: 0px 7px; */
}

h1 {
  flex-wrap: wrap;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: black;
  text-align: center;
  padding-top: 2rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  color: hsl(218, 44%, 22%);
  text-align: center;
}


/* you don't really need a media query for these. i wish i could help but sadly i'm not too good with them either :( */

/* @media screen and (min-width: 144px) {
  .info {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 400px;
    border: 1px solid hsl(0, 0%, 100%);
  }
} */

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
